<div class="boardcp">
  <div class="board">
    <app-players-modal></app-players-modal>
    <img src="assets/arrow_yellow.png" class="arrow arrow-1" [class.faded]="isCellOccupied(1, 0)" />
    <img src="assets/arrow_yellow.png" class="arrow arrow-2" [class.faded]="isCellOccupied(1, 1)"/>
    <img src="assets/arrow_yellow.png" class="arrow arrow-3" [class.faded]="isCellOccupied(1, 2)"/>
    <img src="assets/arrow_yellow.png" class="arrow arrow-4" [class.faded]="isCellOccupied(1, 0)"/>
    <img src="assets/arrow_yellow.png" class="arrow arrow-5" [class.faded]="isCellOccupied(1, 1)"/>
    <img src="assets/arrow_yellow.png" class="arrow arrow-6" [class.faded]="isCellOccupied(1, 2)"/>

    <div *ngFor="let row of board; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <div
          class="cell"
          [ngClass]="['cell-' + i + '-' + j, cell.token ?? '', selected?.row === i && selected?.col === j ? 'selected' : '']"
          (click)="onCellTap(i, j)"
        >
          <img
            *ngIf="cell.token && !(movingToken && movingToken.fromCell === 'cell-' + i + '-' + j)"
            [src]="cell.token === 'red' ? 'assets/qizi_red.png' : 'assets/qizi_blue.png'"
            class="token"
          />
        </div>
      </ng-container>
    </div>
    <div
      *ngIf="movingToken"
      class="moving-token"
      [style.transform]="'translate(' + movingLeft + 'px, ' + movingTop + 'px)'"
    >
      <img
        [src]="movingToken.token === 'red'
              ? 'assets/qizi_red.png'
              : 'assets/qizi_blue.png'"
        class="token"
      />
    </div>
  </div>
</div>

<bottom-navbar></bottom-navbar>
