<div class="task-list">

  <div class="privilege-cards">
    <div
      class="privilege-card"
      [class.selected]="privileges.cave"
      (click)="togglePrivilege('cave')"
    >
      <img src="assets/privcave.png" alt="Cave Privilege" />
    </div>
    <div
      class="privilege-card"
      [class.selected]="privileges.seal"
      (click)="togglePrivilege('seal')"
    >
      <img src="assets/privseal.png" alt="Seal Privilege" />
    </div>
    <div
      class="privilege-card"
      [class.selected]="privileges.abyssal"
      (click)="togglePrivilege('abyssal')"
    >
      <img src="assets/privaby.png" alt="Abyssal Privilege" />
    </div>
  </div>


  <div *ngFor="let task of tasks" class="task-card">
    <div class="task-header">
      <div class="task-desc">{{ task.description }}</div>
      <div class="task-progress">
        {{ task.type === 'stepped'
        ? (task.currentStep || 0) + '/' + task.totalSteps
        : (task.currentCount || 0) + '/∞' }}
      </div>
    </div>

    <div class="task-body">
      <div class="reward-group">
        <ng-container *ngIf="task.type === 'stepped'">
          <div
            class="reward-icon"
            [ngClass]="{'rewarded': i < (task.currentStep || 0)}"
            *ngFor="let step of [].constructor(task.totalSteps); let i = index"
          >
            <img src="assets/icon_gongzhanzhixing.png" alt="Reward" class="reward-icon-img" />
            <div class="reward-amount" *ngIf="i >= (task.currentStep || 0)">
              {{ task.rewardPerStep }}
            </div>
            <img
              class="reward-check"
              *ngIf="i < (task.currentStep || 0)"
              src="assets/checkmark.png"
              alt="✔"
            />
          </div>
        </ng-container>

        <ng-container *ngIf="task.type === 'infinite'">
          <!-- If currentCount is 0, show one standard reward -->
          <div
            class="reward-icon"
            *ngIf="(task.currentCount ?? 0) === 0"
          >
            <img src="assets/icon_gongzhanzhixing.png" alt="Reward" class="reward-icon-img" />
            <div class="reward-amount">{{ task.rewardPerStep }}</div>
          </div>

          <ng-container *ngIf="(task.currentCount ?? 0) > 0">
            <div class="reward-icon rewarded">
              <img src="assets/icon_gongzhanzhixing.png" alt="Reward" class="reward-icon-img" />
              <img class="reward-check" src="assets/Btn_Green_S.png" alt="✔" />
              <div class="reward-count">{{ task.currentCount }}</div>
            </div>

            <div class="reward-icon">
              <img src="assets/icon_gongzhanzhixing.png" alt="Reward" class="reward-icon-img" />
              <div class="reward-amount">{{ task.rewardPerStep }}</div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="task-buttons">
        <button
          (click)="changeStep(task, -1)"
          [disabled]="
            (task.type === 'stepped' && (task.currentStep ?? 0) <= 0) ||
            (task.type === 'infinite' && (task.currentCount ?? 0) <= 0)
          "
        >
          <img src="assets/Btn_S_Blue-.png" alt="-" />
        </button>

        <button
          (click)="changeStep(task, 1)"
          [disabled]="
            task.type === 'stepped' && (task.currentStep ?? 0) >= (task.totalSteps ?? 0)
          "
        >
          <img src="assets/Btn_S_Blue+.png" alt="+" />
        </button>
      </div>
    </div>
  </div>

  <button class="reset-button" (click)="resetAll()">
    <img src="assets/btn_shuaxin.png" alt="Reset" class="reset-icon" />
  </button>
</div>
<bottom-navbar></bottom-navbar>
