@font-face {
  font-family: 'survivor';
  src: url('assets/fonts/survivor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'survivor', sans-serif;
  max-width: 555px;
  background-color: #282a57;
  margin: auto;
  min-height: 100vh;
}
