.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal {
  color: #592400;
  position: fixed;
  top: calc(50% - 66px);
  left: 50%;
  width: 90%;
  max-width: 400px;
  background: #fedf9e;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: 1000;
  border-radius: 8px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
  }

  .close-btn {
    margin-top: 16px;
    width: 100%;
  }
}
.players {
  max-height: calc(100vh - 320px);
  overflow: auto;
  padding: 10px;
}
.player-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  margin: 8px 0;
  background: #fce9c1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(155, 96, 64);


  .player-info {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
    .name {
      flex: 1;
    }
    .power {
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
      padding-right: 12px;

      .icon-power {
        width: 16px;
        height: 16px;
      }
    }
  }

  .lane-buttons {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin: 0 2px;
      transition: filter 0.2s;
      &.lane-icon {
        filter: grayscale(100%);
      }
      &.selected {
        filter: none;
      }
    }

    .delete-icon {
      margin-left: 8px;
      width: 32px;
      height: 32px;
    }
  }
}

.lane-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.2s;

    &.selected {
      filter: none;
    }
  }
}

.add-player-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.add-player-box {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  input {
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
  }

  .form-buttons {
    display: flex;

    img {
      width: 32px;
      height: 32px;
      cursor: pointer;
      margin: 0 8px;
      transition: filter 0.2s;

      &:hover {
        filter: none;
      }
    }
  }
}

.icon-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: none;
  }
}
.icon-open-pl-mod {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.6));

  &:hover {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.9));
  }
}

.lane-summary-wrapper {
  position: fixed;
  bottom: 100px; // adjust if needed
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 900;
}

.lane-summary-container {
  display: flex;
  gap: 10px;
}

.lane-summary-box {
  background: #111;
  color: #fedf9e;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  font-size: 14px;
  text-align: center;
  gap: 4px;

  .lane-title {
    font-weight: bold;
    margin-bottom: 4px;
  }

  .lane-players, .lane-power {
    font-size: 13px;
  }

  .lane-power,.lane-players {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    line-height: 1;

    .icon-power, icon-players {
      width: 14px;
      height: 14px;
      object-fit: contain;
      display: block;
    }
  }
}
