<nav class="bottom-navbar">
  <div class="nav-left">
    <ng-container *ngFor="let item of leftNavItems">
      <ng-container *ngIf="item.external; else internalLinkLeft">
        <a class="nav-item" [href]="item.path" target="_blank" rel="noopener">
          <img [src]="item.icon" alt="{{ item.label }}" class="icon" />
          <div class="label" [innerHTML]="formatLabel(item.label)"></div>
        </a>
      </ng-container>
      <ng-template #internalLinkLeft>
        <a class="nav-item" [routerLink]="item.path" [class.active]="isActive(item.path)">
          <img [src]="item.icon" alt="{{ item.label }}" class="icon" />
          <div class="label" [innerHTML]="formatLabel(item.label)"></div>
        </a>
      </ng-template>
    </ng-container>
  </div>

  <div class="nav-right">
    <ng-container *ngFor="let item of rightNavItems">
      <ng-container *ngIf="item.external; else internalLinkRight">
        <a class="nav-item" [href]="item.path" target="_blank" rel="noopener">
          <img [src]="item.icon" alt="{{ item.label }}" class="icon" />
          <div class="label" [innerHTML]="formatLabel(item.label)"></div>
        </a>
      </ng-container>
      <ng-template #internalLinkRight>
        <a class="nav-item" [routerLink]="item.path" [class.active]="isActive(item.path)">
          <img [src]="item.icon" alt="{{ item.label }}" class="icon" />
          <div class="label" [innerHTML]="formatLabel(item.label)"></div>
        </a>
      </ng-template>
    </ng-container>
  </div>
</nav>
