.bottom-navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1f;
  border-top: 1px solid #000000;
  padding: 0.3rem 0 0 0;
  z-index: 1000;

  .nav-left,
  .nav-right {
    display: flex;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64px;
  cursor: pointer;
  color: #666;
}

.icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  padding: 6px;
}

.label {
  position: absolute;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: white;
  bottom: 3px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}

.nav-item.active {
  .icon {
    background: linear-gradient(180deg, #ffce30 0%, #fdf32d 100%);
  }
}
.nav-item#kofi {
  .icon {
    background: linear-gradient(180deg, #e95948 0%, #7d2b54 100%);
  }
}
